.about{
    & h2{
        width: 60vw;
        font-size: clamp(2rem, 3.5vw, 3rem);
        font-family: 'FMBolyar Ornate Pro 500';
        padding-inline: 2rem;
        padding-bottom: 1rem;
        text-decoration: underline #fff;
    }
    & p{
        width:60vw;
        font-size: clamp(.75rem,1.5vw, 1.5rem);
        padding-inline: 2rem;
    }
    &_bio-image{
        background-color:$primary-color;
        color: set-text-color($primary-color);
        height: 40vh;
        line-height: 1;
        background:linear-gradient(to right,rgba($primary-color,0.6),rgba($primary-color,0.3)), url('../dist/img/jojo_about.jpg');
        background-position: 50% 20%;
        background-size: cover;
        text-align: center;
        @include center-align;  
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-bottom: 2px solid #000;
    }
    &-content{
        text-align: center;
        padding-bottom: 2rem;
        &>h2{
            margin-top: 2rem;
            transform: translateX();
        }
        &>p{
            margin-top: 1rem;
            
        }
    }
    &_content-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        background:linear-gradient(to right,rgba($primary-color,0.8),rgba($primary-color,0.35)),url('../dist/img/jojopart1.jpg') center/cover no-repeat ;

    }
}

